[Unit]
Description=Unifi LET Monitor
After=network.target

[Service]
User=root
Restart=always
ExecStart=/usr/local/unifi_lte_collector/unifi_lte_stats.py
Type=simple
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
